* {
    margin: 0;
    padding: 0;
    border: 0;
}

header#mainheader {
    width: 100%;
    z-index: 2;
    height: 400px;
    background: url("../images/header.png");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#headercontainer {
    width: 100%;
    height: 750px;
    margin: auto;
    position: relative;
}

div#headertop {
    width: 100%;
    height: 300px;
    position: relative;
}

div#headertop a {
    display: block;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: url(../images/logo2.png) no-repeat;
    text-indent: -3000em;
}

div#headertop img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    padding-left: 60%;
    width: 300px;
    height: 300px;
}

ul#ulTopLeft {
    list-style-type: none;
    display: inline-block;
}

ul#ulTopLeft li {
    display: inline-block;
    line-height: 50px;
    border-right: 1px solid #95a5a6;
    padding: 0 10px;
}

ul#ulTopLeft li:first-child {
    padding-left: 0;
}

ul#ulTopLeft li:last-child {
    border-right: 0;
}

ul#ulTopLeft li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul#ulTopLeft li a:hover {
    color: #ffff;
}

nav {
    width: 100%;
    height: 100px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 50px;
}

div#navcontainer {
    width: 1346px;
    height: 100px;
    position: relative;
    margin: auto;
}

div#navlogo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive;
    color: #ffffff;
    font-size: 45px;
    line-height: 100px;
    display: inline;
}

ul#ulNavRight {
    list-style-type: none;
    display: inline-block;
    float: right;
}

ul#ulNavRight li {
    display: inline-block;
    line-height: 100px;
    margin-left: 20px;
}

ul#ulNavRight li a {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}

ul#ulNavRight li a:hover {
    color: #95a5a6;
}

div#headerText {
    margin-top: 8%;
    margin-left: 14%;
    color: #ffffff;
}

div#headerText h1 {
    line-height: 80px;
    font-size: 40px;
    text-shadow: 5px 5px 10px #000000;
}

div#headerText h2 {
    line-height: 80px;
    text-shadow: 5px 5px 10px #000000;
    font-size: 30px;
}

div#headerText p {
    line-height: 30px;
    font-size: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    padding-right: 20px;
    text-shadow: 1px 1px 1px #000000;
}

section.contenthakkımızda {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 50px auto;
}

section.contenthakkımızda h1 {
    text-align: center;
    justify-content: center;
    font-size: 30px;
}

section.contenthakkımızda p {
    margin: 20px 0;
    text-align: center;
    justify-content: center;
    line-height: 25px;
}

footer {
    width: 100%;
    position: relative;
    padding: 100px 0;
    background-color: rgb(0, 0, 0);
}

footer div#footercontainer {
    width: 1200px;
    position: relative;
    margin: auto;
}

footer div#footercontainer div.footerbox {
    width: 400px;
    position: relative;
    float: left;
    text-align: center;
    color: #ffffff;
}

footer div#footercontainer div.footerbox h1 {
    font-size: 40px;
    margin-top: 55px;
}

footer div#footercontainer div.footerbox h2 {
    font-size: 30px;
    line-height: 60px;
    border-bottom: 2px solid #e74c3c;
    width: 300px;
    margin: auto;
}

footer div#footercontainer div.footerbox p {
    text-align: left;
    line-height: 30px;
    width: 300px;
    margin: auto;
}