body {
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

li a {
    text-decoration: none;
    color: #2d2f31;
}

nav {
    width: 90%;
    margin: auto;
    margin-top: 1%;
    background: #d9d9d9;
}

span {
    padding: 20px;
    background: #2d2f31;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
}

span::after {
    float: right;
    right: 10%;
    content: "+";
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 350px;
}

.ARAÖĞÜN {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

#toucharaöğün {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#toucharaöğün:checked+.ARAÖĞÜN {
    height: 350px;
}

.milkshake {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

@media screen and (min-width:1366px) {
    .milkshake img {
        width: 80%;
        height: auto;
    }
}

@media screen and (min-width:640px) and (max-width:1365px) {
    .milkshake img {
        width: 60%;
        height: auto;
    }
}

@media screen and (min-width:300px) and (max-width:640px) {
    .milkshake img {
        width: 50%;
        height: auto;
    }
}

#touchmilkshake {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchmilkshake:checked+.milkshake {
    height: auto;
}

.sıcakiçecek {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

#touchsıcakiçecek {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchsıcakiçecek:checked+.sıcakiçecek {
    height: 350px;
}

.soğukiçecek {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

#touchsoğukiçecek {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchsoğukiçecek:checked+.soğukiçecek {
    height: 350px;
}

.tatlılar {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

#touchtatlılar {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchtatlılar:checked+.tatlılar {
    height: 350px;
}

.alkolluiçecek {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

#touchalkolluiçecek {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchalkolluiçecek:checked+.alkolluiçecek {
    height: 350px;
}

.nargileler {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

#touchnargileler {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchnargileler:checked+.nargileler {
    height: 350px;
}